{% extends 'index.html' %}
{% load static %}


{% block content %}
<div align="center" class="about-diving">
    <img class="about-img" src="{% static 'img/dig.png' %}" alt="">
            <p class="about-p">
                Причина успеха этой страницы «О нас» для бизнеса проста — она рассказывает потенциальному покупателю историю. Если у вас есть замечательная история о том, как ваш продукт или услуга должен изменить жизнь людей к лучшему, непременно поделитесь ею.
                Эта веб-страница является прекрасным местом для жизни в любых ее проявлениях. Реалистичные истории очеловечивают бренд, предоставляя контекст и значение для вашего продукта. Более того, хорошими историями хочется делиться — это означает, что пользователи с большей вероятностью будут рекламировать вас.
                Компания по производству гамаков Yellow Leaf рассказывают пользователям о продукте, описывая, как простой хендмейд меняет жизнь мастеров и их семей в Таиланде. Страница разбита на отдельные истории и разделы, в которых сочетаются блоки текста и легкоусвояемая графика, рисуя прекрасные и человечные образы.
                Авторы четко дают понять преимущества продукта чуть ли не для всего мира, заканчивая месседж словами «Это основа для светлого будущего, построенная вручную».
                У каждой компании есть что рассказать. Поэтому вспоминайте свои навыки пересказывания классики из того случайного урока русского языка, который вы посещали много лет назад, и разместите их на корпоративном сайте.
                Комбинируя описательный и эмоциональный текст с великолепной графикой, страница «О нас» заработает для вашего бизнеса гораздо больше, чем скучный однообразный контент.
            </p>
</div>
{% endblock %}
